
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 354 76% 57%; /* Red color hsl values */
    --foreground: 0 0% 100%;
    
    --primary: 51 100% 50%; /* Gold color */
    --primary-foreground: 0 0% 20%;
    
    --cmr: 0 100% 27%; /* Dark Red */
    --cmr-foreground: 0 0% 100%;
    
    /* Adding border color variable */
    --border: 51 100% 50%; /* Gold color for borders */
  }

  /* Dark mode could be added here if needed */
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}
